{% extends "base/base.html" %}

{% block sidebar %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-bullhorn"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Analisis GAP</div>
    </a>
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'index' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Usuarios
    </div>
  
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Gestion de usuario</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"><a href="{% url 'usuario_list' %}">Ver usuarios</a>
            </h6>
            <a class="collapse-item"
              href="{% url 'usuario_add' %}">Agregar usuario</a>
            <a class="collapse-item"
              href="{% url 'usuario_delete' %}">Eliminar usuario</a>
            <div class="collapse-divider"></div>
          </div>
      </li>
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Heading -->
      <div class="sidebar-heading">
        Resultados
      </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <i class="fas fa-fw fa-cog"></i>
            <span>Resultados</span>
          </a>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header"><a href="#">Empresas</a>
              </h6>
              {% for empresa in empresas %}
              <a class="collapse-item"
                href="{% url 'resultado' empresa.id %}">{{empresa.nombre}}</a>   
              {% endfor %}
              <div class="collapse-divider"></div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading">
        Preguntas
      </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
            aria-controls="collapseFour">
            <i class="fas fa-fw fa-cog"></i>
            <span>Gestion de preguntas</span>
          </a>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header"><a href="#">Ver preguntas</a>
              </h6>
              <a class="collapse-item"
              href="{% url 'admin_pregunta_add' %}">Agregar pregunta</a>
              <div class="collapse-divider"></div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  
  </ul> 
{% endblock sidebar %}

{% block content %}
<h1 class="h3 mb-2 text-gray-800">Gestion de usuario</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Agregar usuario</h6>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'usuario_add' %}">
            {% csrf_token %}
            {% if msg_error %}
              <div class="alert alert-danger" role="alert">
                  {{msg_error}}
              </div>
            {% endif %}
            <div id="empresa-success" class="alert alert-success" role="alert" style="visibility: hidden;">
            </div>
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre">
            </div>
            <div class="form-group">
                <label>Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido">
            </div>
            <div class="form-group">
                <label>Nombre de usuario</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label>{{form.empresa.label}}</label>
                {{form.empresa}}
                <small class="form-text text-muted">Si la empresa no existe, hacer click aqui <a href='#' data-target="#addEmpresa" data-toggle="modal">crear empresa</a></small>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Ingrese una contraseña con minimo 8 caracteres y que contenga numeros y letras</small>
            </div>
            <div class="form-group">
                <label>Confirmar contraseña</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" aria-describedby="passwordHelp">
                <small id="passwordHelp" class="form-text text-muted">Haga coincidir la contraseña</small>
            </div>
            <div class="form-group">
                <label>Administrador</label>
                <input type="checkbox" id="admin" name="admin" value="True">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>

    <!-- Logout Modal-->
    <div class="modal fade" id="addEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="padding: 10px;">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Crear nueva empresa</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            
            <form method="POST">
                {% csrf_token %}
                <div id="msg-empresa" class="alert alert-danger" role="alert" style="visibility: hidden;">
                    
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa">
                </div>
                <div>
                    <label id='label_spinner' style="visibility: hidden;"><span class="spinner-border spinner-border-sm" id="spinner" style="visibility: hidden"></span> Creando Empresa</label>
                </div><br>

                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button id="agregar_empresa" type="submit" class="btn btn-primary">Agregar</a>
                </div>
            </form>
          </div>
        </div>
      </div>
{% endblock content %}

{% block javascript %}
<script>
    $('#agregar_empresa').on('click',function(event){
        event.preventDefault();
        let spinner = document.getElementById("spinner");
        let label_spinner = document.getElementById("label_spinner");
        let msg_empresa = document.getElementById("msg-empresa");
        spinner.style.visibility = 'visible'; //'hidden'
        label_spinner.style.visibility = 'visible';
        msg_empresa.style.visibility = 'hidden'
        $.ajax({
        url: '{% url "empresa_add" %}',
        type: 'post',
        data: {
            'csrfmiddlewaretoken': jQuery("[name=csrfmiddlewaretoken]").val(),
            'nombre_empresa': $('#nombre_empresa').val()
        },
        success: function (data) {
            if (data.ok == true){
                let mensaje = document.getElementById("empresa-success");
                mensaje.style.visibility = "visible";
                $('#empresa-success').text('Se creo correctamente la empresa');
                spinner.style.visibility = 'hidden'; //'hidden'
                label_spinner.style.visibility = 'hidden';
                $('#addEmpresa').modal('hide')
                setTimeout(() => {
                    window.location.reload();
                }, 3000);
            } else {
                msg_empresa.style.visibility = 'visible'
                $('#msg-empresa').text(data.msg_error);
                spinner.style.visibility = 'hidden'; //'hidden'
                label_spinner.style.visibility = 'hidden';
            }
        }
      });

    });
</script>
{% endblock javascript %}
