{% extends "base/base.html" %}

{% load static %}

{% block css %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock css %}

{% block sidebar %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-bullhorn"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Analisis GAP</div>
    </a>
  
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
  
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'index' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Usuarios
    </div>
  
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
          aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Gestion de usuario</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header"><a href="{% url 'usuario_list' %}">Ver usuarios</a>
            </h6>
            <a class="collapse-item"
              href="{% url 'usuario_add' %}">Agregar usuario</a>
            <a class="collapse-item"
              href="{% url 'usuario_delete' %}">Eliminar usuario</a>
            <div class="collapse-divider"></div>
          </div>
      </li>
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Heading -->
      <div class="sidebar-heading">
        Resultados
      </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
            aria-controls="collapseThree">
            <i class="fas fa-fw fa-cog"></i>
            <span>Resultados</span>
          </a>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header"><a href="#">Empresas</a>
              </h6>
              {% for empresa in empresas %}
              <a class="collapse-item"
                href="{% url 'resultado' empresa.id %}">{{empresa.nombre}}</a>   
              {% endfor %}
              <div class="collapse-divider"></div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
    <!-- Heading -->
    <div class="sidebar-heading">
        Preguntas
      </div>
    
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
            aria-controls="collapseFour">
            <i class="fas fa-fw fa-cog"></i>
            <span>Gestion de preguntas</span>
          </a>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header"><a href="#">Ver preguntas</a>
              </h6>
              <a class="collapse-item"
              href="#">Agregar pregunta</a>
              <a class="collapse-item"
              href="#">Eliminar pregunta</a>
              <div class="collapse-divider"></div>
            </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">
  
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  
  </ul> 
{% endblock sidebar %}

{% block content %}
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Gestion de usuario</h1>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Listado de usuarios</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Empresa</th>
                      <th>Administrador</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Email</th>
                      <th>Empresa</th>
                      <th>Administrador</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario.user.first_name}}</td>
                        <td>{{usuario.user.last_name}}</td>
                        <td>{{usuario.user.email}}</td>
                        <td>{{usuario.empresa.nombre}}</td>
                        {% if usuario.administrador == True %}
                        <td>Si</td>
                        {% else %}
                        <td>No</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

{% endblock content %}

{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock javascript %}